Magic 271485
Revision Verdi_T-2022.06-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort -3 0 3440 1360 231 166

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "/home/hdeng/ic/iEEG_Transformer_Project2/Scripts/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 0.000000 3158.257055 1n
cursor 1510.000000
marker 0.000000

; visible top row signal index
top 0
; marker line index
markerPos 15

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/hdeng/ic/iEEG_Transformer_Project2/Scripts/inter.fsdb"
addSignal -h 15 /newMAC_tb/clk
addSignal -h 15 /newMAC_tb/rst_n
addSignal -h 15 /newMAC_tb/en
addSignal -h 15 /newMAC_tb/data_valid
addSignal -h 15 /newMAC_tb/reset
addSignal -h 15 /newMAC_tb/acc
addSignal -h 15 -UNSIGNED -UDEC /newMAC_tb/test[31:0]
addSignal -h 15 /newMAC_tb/output_valid_NMAC
addSignal -h 15 -2COMP -UDEC /newMAC_tb/output_result_NMAC[20:0]
addSignal -h 15 -2COMP -UDEC /newMAC_tb/output_result_TMAC[20:0]
addSignal -h 15 -2COMP -UDEC /newMAC_tb/weight[3:0]
addSignal -h 15 -2COMP -UDEC /newMAC_tb/activation[7:0]
addSignal -h 15 -2COMP -UDEC /newMAC_tb/u_newMAC/weight[3:0]
addSignal -h 15 -UNSIGNED -HEX /newMAC_tb/u_newMAC/activation[7:0]
addSignal -h 15 -UNSIGNED -HEX /newMAC_tb/u_newMAC/index[2:0]
addSignal -h 15 /newMAC_tb/u_newMAC/zero_flag
addSignal -h 15 -UNSIGNED -HEX /newMAC_tb/u_newMAC/MUL_CNT[2:0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

